/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #0066cc;
}

p {
    color: #333;
}


.json-tree {
    white-space: pre-wrap;
    font-family: monospace;
    /* Add any other styles you want to apply to the JSON representation here */
}