<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Input Page</title>
</head>
<body>
<h1>User Input Page</h1>
<form th:action="@{/process-numbers}" method="post">
  <label for="numbers">Enter a series of numbers separated by a space:</label>
  <input type="text" id="numbers" name="numbers" required>
  <button type="submit">Submit</button>
</form>
<br>
<!-- Button to Show Previous -->
<a th:href="@{/previous-trees}" class="button">Show Previous</a>
<br>
<!-- Button to Display JSON -->
<a th:href="@{/process-numbers}" class="button">Display JSON</a>
</body>
</html>
