<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Binary Search Tree Visualization</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
  <div class="header-content">
    <h1>Binary Search Tree Visualization</h1>
    <nav class="button-list">
      <a th:href="@{/enter-numbers}" class="button">Enter Numbers</a>
      <a th:href="@{/}" class="button home-btn">Home</a>
    </nav>
  </div>
</header>


<!-- Display the JSON data as a hierarchical tree -->
<pre class="json-tree" th:text="${jsonData}"></pre>


<footer class="footer">
  <span>&#169;</span> Devin Augot 2023
</footer>
</body>
</html>
