<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Input Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>User Input Page</h1>

<form action="/processInput" method="post">
  <label for="userInput">Enter your input:</label>
  <input type="text" id="userInput" name="userInput">
  <button type="submit">Submit</button>
</form>
<a th:href="@{/jsonPage}"><button>Display Json</button></a>
<a th:href="@{/previousPage}">Previous</a>
</body>
</html>
